body {
  margin: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #a0c4ff;
}

.header {
  background-color: #1d3557;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
}

.dropdown-icon {
  background-image: url("dropdown.png");
  background-size: contain;
  height: 40px;
  width: 40px;
}

.string-hasher-dropdown {
  background-color: cadetblue;
  width: fit-content;
  position: relative;
  border-color: black;
  border-style: solid;
  display: none;
  z-index: 1;
}

.unit-converter-dropdown {
  background-color: cadetblue;
  width: fit-content;
  position: relative;
  border-color: black;
  border-style: solid;
  display: block;
  z-index: 1;
}

.string-hasher {
  position: relative;
  top: 40px;
}

.unit-converter {
  position: relative;
  top: 40px;
}

.hasher-buttons {
  width: 100%;
}

.hasher-buttons:hover {
  cursor: pointer;
}

.encode-decode-header {
  position: relative;
  top: 40px;
}

.encode-decode-link:hover {
  cursor: pointer;
}

.outer-flex-div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main-section {
  height: fit-content;
  width: fit-content;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.front-action-div {
  display: inline;
}

.reverse-action-div {
  display: inline;
}

.hash-btn-div {
  background-color: thistle;
}

.buttons {
  background-color: thistle;
  border-radius: 0px 0px 12px 12px;
}

.front-action-btn {
  background-color: #b7e4c7;
  height: 50px;
  width: 199px;
  font-size: 15px;
  border: none;
  border-radius: 0px 0px 0px 12px;
  font-weight: bolder;
}

.reverse-action-btn {
  background-color: thistle;
  height: 50px;
  width: 199px;
  font-size: 15px;
  font-weight: bolder;
  border: none;
  border-radius: 0px 0px 12px 0px;
}

.hash-btn {
  background-color: thistle;
  height: 50px;
  width: 404px;
  font-size: 20px;
  border: none;
  border-radius: 0px 0px 12px 12px;
  font-weight: bolder;
}

.hash-btn-div {
  display: none;
  border-color: black;
  border-radius: 0px 0px 13px 13px;
}

.output-section {
  margin-top: 20px;
}

.output-msg {
  width: 100%;
  background-color: #adb5bd;
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
  border-color: black;
  border-radius: 12px 12px 0px 0px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textarea-input {
  width: 400px;
  height: 150px;
  border-radius: 12px 12px 0px 0px;
  border: none;
  font-size: 20px;
  font-weight: bolder;
}

.textarea-output {
  width: 400px;
  height: 150px;
  border: none;
  font-size: 20px;
  font-weight: bolder;
  border-radius: 0px 0px 12px 12px;
}

.utility-info {
  position: relative;
  font-size: 40px;
  top: 20px;
}

@media (max-width: 600px) {
  .front-action-btn {
    font-size: 11px;
  }

  .reverse-action-btn {
    font-size: 11px;
  }

  .textarea-input {
    width: 300px;
  }

  .textarea-output {
    width: 300px;
  }

  .front-action-btn {
    width: 149px;
  }

  .reverse-action-btn {
    width: 149px;
  }

  .header {
    font-size: 10px;
  }

  .hash-btn {
    width: 305px;
  }
}

@media (max-width: 700px) {
  .utility-info {
    font-size: 20px;
    top: 15px;
  }
}
