body {
  margin: 0px;
  background-color: cornflowerblue;
  display: flex;
  align-items: center;
  flex-flow: column;
}

body
{
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header
{
    background-color: black;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
}

.dropdown-icon
{
    background-image: url("dropdown.png");
    background-size: contain;
    height: 40px;
    width: 40px;
}

.string-hasher-dropdown
{
    background-color: cadetblue;
    width: fit-content;
    position: relative;
    border-color: black;
    border-style: solid;
    display: none;
}

.hasher-buttons
{
    width: 100%;
}

.encode-decode
{
    position: relative;
    top: 40px;
}

.string-hasher
{
    position: relative;
    top: 40px;
}

.test1
{
    position: relative;
    top: 40px;
}

.test2
{
    position: relative;
    top: 40px;
}

.anchor-tags
{
    text-decoration: none;
    color: white;
}

.encoder-decoder-main-section {
  background-color: darkcyan;
  height: fit-content;
  width: fit-content;
  margin-top: 5%;
}

.encode-btn-div {
  display: inline;
}

.decode-btn-div {
  display: inline;
}

.encode-btn {
  background-color: green;
  height: 50px;
  width: 200px;
}

.decode-btn {
  background-color: thistle;
  height: 50px;
  width: 200px;
}

.output-section {
  margin-top: 20px;
}

.output-msg {
  width: 100%;
  background-color: tomato;
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
}

.textarea-input {
  width: 400px;
  height: 150px;
}

.textarea-output {
  width: 400px;
  height: 150px;
}
